*
{
    direction: rtl;
}

.container
{

}

.container .header
{
    height: 100px;
    background: lightgrey;
    margin: 0 0 20px 0;
    border-bottom: 5px solid dodgerblue;
}

.container .options
{
    margin: 0 0 20px 0;
    border-bottom: 2px solid grey;
    border-top: 2px solid grey;
    padding: 10px 0;

}

.container .main
{

}

.users
{
    background-position: left 0.75rem center!important;
}


.mask
{
    width: 100vw;
    height: 100vh;
    background-color: #0000008f;
    position: fixed;
    top: 0;
    left: 0;

}

.modal-header
{
    flex-direction: row-reverse;
}
